*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    height: 100vh;
    width: 100vw;
    background-color: lightblue;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.main .card{
    height: 90vh;
    width: 90vw;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    
}

.card .cardtop{
    /* background-color: rebeccapurple; */
    height: 10vh;
    font-size: 4vh;
    text-align: center;
    margin-top: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
}

.card form{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

 /* top khatam mid chalu------------------------------------------------------------------------------------------------------- */


 .card .cardmid{
  /* background-color: aqua; */
  width: 90%;
  height: calc(100%-20vh);
  margin-top: 2vh;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(6,1fr);
  gap: 2vh;
}

input{
    height: 5vh;
    width: 20vh;
    margin: 12px;
    border-radius: 5px;
    border: 2px solid blue;
}

input#datetime{
    height: 5vh;
    width: 20vh;
    margin: 12px;
    border-radius: 5px;
    border: 2px solid blue;

}

label{
    margin: 10px;
    size: 1.2vw;
    font-weight: 500;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* right ka kaam khatam----------------------------------------------------------------------------------------------------  */
 

.card .cardbottom{
    /* background-color: brown; */
    border-top: 2px solid blue;
    height: 15vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.cardbottom button{
    border: none;
    padding: 10px  40px;
    border-radius: 4px;
    background-color: blue;
    color: white;
    font-weight: 600;
}

button:hover{
    background-color: lightblue;
    color: black;
}